<div class="container">
  <ul class="timeline">
    <li>
      <div class="timeline-badge professional"><i class="fa fa-1x fa-fw fa-briefcase"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">DV Trading LLC</h4>
          <p><small class="text-muted">
            <i class="fa fa-1x fa-fw fa-calendar">
            </i>&nbsp;July 2013 - Present</small></p>
            <p><small class="text-muted">
              <i class="fa fa-1x fa-fw fa-map-marker">
              </i>&nbsp;Chicago, IL</small></p>
          </div>
          <div class="timeline-body">
            <p>
              All sorts of stuff including Mathematics, Statistics, Low-latency Programming and of course Trading
            </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-badge university"><i class="fa fa-1x fa-fw fa-university"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Columbia University</h4>
            <p><small class="text-muted">
              <i class="fa fa-1x fa-fw fa-calendar">
              </i>&nbsp;August 2012 - June 2013</small></p>
              <p><small class="text-muted">
                <i class="fa fa-1x fa-fw fa-map-marker">
                </i>&nbsp;New York City, NY</small></p>
            </div>
          <div class="timeline-body">
            <p>
              Graduate education in Mathematics and Quantitative Finance
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-badge professional"><i class="fa fa-1x fa-fw fa-briefcase"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Grail Research</h4>
            <p><small class="text-muted">
              <i class="fa fa-1x fa-fw fa-calendar">
              </i>&nbsp;March 2010 - July 2012</small></p>
              <p><small class="text-muted">
                <i class="fa fa-1x fa-fw fa-map-marker">
                </i>&nbsp;New Delhi, India</small></p>
            </div>
            <div class="timeline-body">
              <p>
                Management consulting projects with various Fortune 500 companies and government entities
              </p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge professional"><i class="fa fa-1x fa-fw fa-briefcase"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Bharat Heavy Electrical Limited</h4>
              <p><small class="text-muted">
                <i class="fa fa-1x fa-fw fa-calendar">
                </i>&nbsp;July 2009 - February 2010</small></p>
                <p><small class="text-muted">
                  <i class="fa fa-1x fa-fw fa-map-marker">
                  </i>&nbsp;Hardwar, India</small></p>
              </div>
              <div class="timeline-body">
                <p>
                  Hydro-electric turbine manufacturing stuff
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-badge university"><i class="fa fa-1x fa-fw fa-university"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Indian Institute of Technology</h4>
                <p><small class="text-muted">
                  <i class="fa fa-1x fa-fw fa-calendar">
                  </i>&nbsp;July 2005 - May 2009</small></p>
                  <p><small class="text-muted">
                    <i class="fa fa-1x fa-fw fa-map-marker">
                    </i>&nbsp;New Delhi, India</small></p>
                </div>
              <div class="timeline-body">
                <p>
                  Undergraduate education in Mechanical Engineering (specialized in Industrial and Production Engineering)
                </p>
              </div>
            </div>
          </li>
      </ul>
    </div>
