<div class="btn-group" role="group" aria-label="Basic example">
  <a role="button" class="btn btn-secondary" href="https://www.linkedin.com/in/{{ site.linkedin }}">
    <span class="fa fa-1x fa-fw fa-linkedin">
    </span>
   </a>
  <a role="button" class="btn btn-secondary" href="https://github.com/{{ site.github }}">
    <span class="fa fa-1x fa-fw fa-github">
    </span>
    </a>
  <a role="button" class="btn btn-secondary" href="https://twitter.com/{{ site.twitter }}">
    <span class="fa fa-1x fa-fw fa-twitter">
    </span>
  </a>
  <a role="button" class="btn btn-secondary" href="mailto:{{ site.email }}">
    <span class="fa fa-1x fa-fw fa-envelope">
    </span>
  </a>
</div>
