<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="assets/images/math.jpg" alt="...">
      <div class="caption">
        <h3>Mathematics</h3>
        <p>Collection of articles and notes on interesting Math problems that I encounter on a daily basis
          <p>
          <a href="blog.html" class="btn btn-primary" role="button">More</a>
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="assets/images/programmer.jpg" alt="...">
      <div class="caption">
        <h3>Programming</h3>
        <p>Snippets and discussions related to new (for me) programming techniques, mostly in C++, Python, and Java
          <p>
          <a href="blog.html" class="btn btn-primary" role="button">More</a>
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="assets/images/trader.jpg" alt="...">
      <div class="caption">
        <h3>Quantitative Finance</h3>
        <p>
          My experiments with Algorthmic Trading, Options Pricing, Trading System Design, Time-series Analysis, etc.
          <p>
          <a href="blog.html" class="btn btn-primary" role="button">More</a>
        </p>
      </div>
    </div>
  </div>
</div>
